@import url('https:/fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');
.singlePost{
    /* background: #fff; */
    /* margin: 20px 0 0 0 ; */
    font-family: 'Nanum Myeongjo', serif;
}
.singleWrapperPost{
    padding: 20px;
    /* padding-right: 0; */
}
.singlePImg{
    width: 100%;
      height:200px;
    border-radius: 8px;
    object-fit: contain;
}
.singlePostTitle{
    text-align: center;
    padding:20px;

}
.singlePostIcon{
    float: right;
    font-size: 19px;

 
}
.singlePostIcons{
    margin-left: 10px;
    cursor: pointer;
}
.singlePostIcon:first-child{
    color:teal
}
.singlePostInfo{
    display: flex;
    justify-content: space-between;
    color:rgb(238, 187, 20);
    font-size: 18px;
    margin: 10px 0;
    font-weight: bold;
    padding: 0 20px;
}
.singleWrapperPost p{
    color:#666;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: .8px;
    padding: 20px 20px;
}
.singleWrapperPost p::first-letter{
    font-size: 50px;
    font-weight: bold;
  
}